[Unit]
Description=live dict daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=/home/heitor/Documents/Projects/dotfiles/bin/live-dict
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=default.target
